body{
    padding: 0;
    margin: 0;
}
.twist-header{
    background-color: #000;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.twist-header h1 {
    margin: 0;
    font-size: 2.5em;
}

.twist-header p {
    margin: 0;
    font-size: 1em;
    color: #cccccc;
}
