body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.twist-header {
    background-color: #000;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.twist-header h1 {
    margin: 0;
    font-size: 2.5em;
}

.twist-header p {
    margin: 0;
    font-size: 1em;
    color: #cccccc;
}

nav {
    background-color: #000;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Align items in the center */
    align-items: center;
}

nav ul li {
    display: flex;
    align-items: center; /* Align items in the center */
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    align-items: center;
}

nav ul li a:hover {
    background-color: #575757;
}

/* Button styles */
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {
    background-color: #575757;
}

.button:active {
    background-color: #575757;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.main-container {
    background: radial-gradient(circle at center, black 75%, #222 100%);
    border-radius: 40px;
    margin: 100px auto;
    padding: 20px;
    max-width: 95%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
}
.about-homePage{
        font-family: 'Raleway', sans-serif;
        text-align: center;
        color: darkorange;
        font-size: 24px;
        margin-top: 40px;
        margin-bottom: 5px;
        line-height: 1.5;
        padding: 10px;
}
.partners-title {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: white;
    font-size: 22px;
    margin-top: 81px;
    margin-bottom: 10px;
}


