body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    background-color: #000;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.header h1, .reg-header h1 {
    margin: 0;
    font-size: 2.5em;
}

.header p, .reg-header p {
    margin: 0;
    font-size: 1em;
    color: #cccccc;
}