<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    body {
        font-family: sans-serif;
        background-color: #f4f4f4;
        margin: 20px;
    }

    h1 {
        text-align: center;
        color: #333;
        margin-bottom: 15px;
    }

    h1 strong {
        font-weight: bold;
        color: #d9534f;
    }

    h2 {
        text-align: center;
        color: #555;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    h2 strong {
        font-weight: bold;
        color: #c9302c;
    }
</style>
<body>
<h1>This website is strictly for educational purposes. I do not claim ownership or rights to any brands or property used for this  project. All rights remain with their respective owners.</h1>
<h1><strong>NOTE: PLEASE DO NOT PUT ANY REAL CREDIT OR DEBIT CARD INFORMATION NOR ANY INFORMATION THAT YOU THINK IS PRIVATE TO YOU</strong></h1>
<h2><strong>THIS WEBSITE DOESN'T COMPLETE ANY REAL ORDERS. WITH THIS I DECLARE THAT I DO NOT HOLD ANY RESPONSIBILITY FOR DATA LEAKS THAT MIGHT OCCUR FROM IT</strong></h2>
</body>
</html>