<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:if="${loginError}" th:text="${loginError}" class="error-message"></div>
<form action="/login" method="POST">
    <label for="username">Username or email</label>
    <input type="text" id="username" name="username" placeholder="johndoe1" required>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="More than 8 characters" required>
    <button type="submit">Login</button>
    <p>Don't have an account yet? <a href="/register">Register here</a>.</p>
    <p><a href="/home">Back to homepage?</a></p>
</body>
</html>