<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="/products.css"/>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<div class = "twist-header">
    <h1>TwistThrottle</h1>
    <p>Treat your motorcycle with selected parts</p>
</div>
<nav>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/profile">My Profile</a></li>
        <li><a href="/about">Privacy</a></li>

        <li sec:authorize="isAuthenticated()">
            <a href="/logout">Logout</a>
            <a href="/categories">Shop</a>
        </li>

        <li sec:authorize="!isAuthenticated()">
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </li>
    </ul>
    <h1>Select a Category</h1>
</nav>

<div class="category-container">
    <div th:each="category : ${categories}" class="category-card"
         th:onclick="'redirectToCategory(' + ${category.id} + ')'">
        <h2 th:text="${category.name}"></h2>
        <p th:text="${category.description}"></p>
    </div>
</div>
<script>
    function redirectToCategory(categoryId) {
        window.location.href = "/products?categoryId=" + categoryId;
    }
</script>
</body>
</html>