<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/home.css"/>
    <link rel="icon" href="logo.png" type="image/x-icon">
  <meta charset="UTF-8">
  <title>TwistThrottle</title>
</head>
<body>
    <div class = "twist-header">
        <h1>Welcome to TwistThrottle</h1>
    <p>Treat your motorcycle with selected parts</p>
    </div>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/profile">My Profile</a></li>
            <li><a href="/about">About</a></li>
            <li th:if="${isLoggedIn}">
                <a href="/logout" >Logout</a>
                <a href="/cart" >Cart</a>
            </li>
            <li th:unless="${isLoggedIn}">
                <a href="/login" >Login</a>
                <a href="/register" >Register</a>
            </li>
        </ul>
    </nav>
</body>
</html>