<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="/home.css"/>
    <script src="/js/homePage.js"></script>
    <link rel="icon" href="logo.png" type="image/x-icon">
  <meta charset="UTF-8">
  <title>TwistThrottle</title>
</head>
<body>
    <div class = "twist-header">
        <h1>TwistThrottle</h1>
    <p>Treat your motorcycle with selected parts</p>
    </div>
    <nav>
        <ul>
            <li><a th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/profile}">My Profile</a></li>
            <li><a th:href="@{/about}">Privacy</a></li>
            <li><a th:href="@{/articles}">Articles</a></li>

            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}">Logout</a>
                <a th:href="@{/cart}">Cart</a>
                <a th:href="@{/categories}">Shop</a>
            </li>

            <li sec:authorize="!isAuthenticated()">
                <a th:href="@{/login}">Login</a>
                <a th:href="@{/register}">Register</a>
            </li>

            <li sec:authorize="hasRole('ADMIN')">
                <a th:href="@{/admin/users}">Manage Users</a>
            </li>
        </ul>
    </nav>
<div class = "main-container">
    <div class = "about-homePage">
        <p>At TwistThrottle, we specialize in high-quality motorcycle parts and accessories for all types of bikes. Whether you're a pro or a hobbyist, we provide everything you need to keep your ride running smoothly and performing at its best.
            From essential components to performance upgrades, we've got you covered with reliable products and expert service.</p>
    </div>
    <p class = "partners-title">Here is a list of our best quality parts providers.</p>
    <div class = "image-container">
     <div class = "image-list " id="imageList">
        <img src="/images/Akrapovic.png" alt="Akrapovic">
        <img src="/images/bassani.png" alt="Bassani">
        <img src="/images/arrow.png" alt="Arrow" id = "arrowimg">
        <img src="/images/Yoshimura.png" alt="Yoshimura">
        <img src="/images/541_dunlop.jpg" alt="Dunlop">
        <img src="/images/michelin.png" alt="michelin" id="michelin">

        </div>
    </div>
</div>
</body>
</html>