<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="/buttons.css">
  <meta charset="UTF-8">
  <title>TwistThrottle</title>
</head>
<body>
<div class="twist-header">
    <header>
        <h1>Welcome to TwistThrottle</h1>
    </header>

    <p>Treat your motorcycle with selected parts</p>
</div>
<div class="menu">
    <div class="buttons-left">
        <a href="/home" class="button">Home</a>
        <a href="/about" class="button">About</a>
        <a href="/register" class="button">Register</a>
    </div>
    <div class="buttons-right">
        <a href="/profile" class="button">My Profile</a>
        <a href="/feedback" class="button">Feedback</a>
    </div>
</div>
</body>
</html>