<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href=/login.css>
    <link rel="stylesheet" href="/buttons.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="header">
    <h1>Welcome to TwistThrottle</h1>
    <p>Treat your motorcycle with selected parts</p>
</div>
<nav>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="register.html">Register</a></li>
        <li><a href="profile.html">My Profile</a></li>
        <li><a href="feedback.html">Feedback</a></li>
    </ul>
</nav>
<div class="login-container">
    <h2>Login</h2>
    <form action="login_action.html" method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Login</button>
    </form>
</div>
</body>
</html>