<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href=/login.css>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="header">
    <h1>TwistThrottle</h1>
    <p>Treat your motorcycle with selected parts</p>
</div>

<div class="form-container">
    <h2>Login</h2>
    <div th:if="${loginError}" th:text="${loginError}" class="error-message"></div>
    <form th:action="@{/login}" method="POST">
        <label for="username">Username or email</label>
        <input type="text" id="username" name="username" placeholder="johndoe1" required>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="More than 8 characters" required>
        <button type="submit">Login</button>
        <p>Don't have an account yet? <a href="/register">Register here</a>.</p>
        <p><a href="/home">Back to homepage?</a></p>
        <p><a href="/adminlogin">Administrator login</a></p>
    </form>
    <!--TODO: After softuni exam try to implement forgot password functionality-->
</div>
</body>
</html>