<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href=/login.css>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="header">
    <h1>Welcome to TwistThrottle</h1>
    <p>Treat your motorcycle with selected parts</p>
</div>

<div class="form-container">
    <h2>Login</h2>
    <form action="/login" method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="johndoe1" required>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="More than 8 characters" required>
        <button type="submit">Login</button>
        <p>Don't have an account yet? <a href="/register">Register here</a>.</p>
    </form>
</div>
</body>
</html>