<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/products.css"/>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<div class = "twist-header">
    <h1>TwistThrottle</h1>
    <p>Treat your motorcycle with selected parts</p>
</div>
<nav>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/profile">My Profile</a></li>
        <li><a href="/about">Privacy</a></li>
        <li th:if="${isLoggedIn}">
            <a href="/logout" >Logout</a>
            <a href="/cart" >Cart</a>
            <a href="/products">Shop</a>
        </li>
        <li th:unless="${isLoggedIn}">
            <a href="/login" >Login</a>
            <a href="/register" >Register</a>
        </li>
    </ul>
</nav>
</body>
</html>