<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/productpage.css"/>
  <meta charset="UTF-8">
  <title>Products</title>

</head>
<body>
<div class = "twist-header">
  <h1>TwistThrottle</h1>
  <p>Treat your motorcycle with selected parts</p>
</div>
<nav>
  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/profile">My Profile</a></li>
    <li><a href="/about">Privacy</a></li>
    <li th:if="${isLoggedIn}">
      <a href="/logout" >Logout</a>
      <a href="/cart" >Cart</a>
      <a href="/products">Shop</a>
    </li>
    <li th:unless="${isLoggedIn}">
      <a href="/login" >Login</a>
      <a href="/register" >Register</a>
    </li>
  </ul>
  <h1>Select a product</h1>
</nav>

<a href="/categories" class="back-button">Back to Categories</a>

<div th:if="${selectedCategory != null}">
  <h2>Showing products for category: <span th:text="${selectedCategory.name}"></span></h2>
</div>

<div class="product-container">
  <!-- Loop through each product and display it -->
  <div th:each="product : ${products}" class="product-card">
    <h3 th:text="${product.name}"></h3>
    <p>Type: <span th:text="${product.productType}"></span></p>
    <p>Price: $<span th:text="${product.price}"></span></p>
    <p>Stock: <span th:text="${product.stock}"></span></p>
  </div>
</div>
</body>
</html>
