<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <link rel="stylesheet" href="/styles.css">
    <meta charset="UTF-8">

    <title>Register</title>
</head>
<body>
<div class="header">
    <header>
        <h1>Welcome to TwistThrottle</h1>
        <p>Treat your motorcycle with selected parts</p>
    </header>
</div>
    <div class="form-container">
        <form th:action="@{/register}" th:object="${user}" method="post">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" th:field="*{firstName}" placeholder="John" required>
            <br/>
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" th:field="*{lastName}" placeholder="Doe" required/>
            <br/>
            <label for="username">Username:</label>
            <input type="text" id="username" th:field="*{username}" placeholder="JohnDoe1" required/>
            <br/>
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}" placeholder="example@example.com" required/>
            <br/>
            <label for="password">Password:</label>
            <input type="password" id="password" th:field="*{password}" placeholder="More than 8 characters" required/>
            <br/>
            <input type="submit" value="Register"/>
            <p>Already have an account? <a href="/login">Login</a></p>
        </form>
        </div>


</body>
</html>