body{
    padding: 0;
    margin: 0;
}
.twist-header {
    background-color: black;
    border: 1px solid black;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:8px;
}
.twist-header h1 {
    color: whitesmoke;

}
.twist-header p{
    color: whitesmoke;
    font-size: 8px;
}
